asgiref==3.6.0
beautifulsoup4==4.11.2
crispy-bootstrap4==2022.1
dj-database-url==1.2.0
Django==4.1.6
django-bootstrap4==22.3
django-crispy-forms==2.0
django_debug_toolbar==3.8.1
gunicorn==20.1.0
psycopg2==2.9.5
soupsieve==2.4
sqlparse==0.4.3
tzdata==2022.7
whitenoise==6.4.0
