{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ worker.username }}
    <a href="{% url 'tasks:worker-delete' pk=worker.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'tasks:worker-update' pk=worker.id %}" class="btn btn-secondary link-to-page">
      Update position
    </a>
  </h1>

  <p><strong>First name:</strong> {{ worker.first_name }}</p>
  <p><strong>Last name:</strong> {{ worker.last_name }}</p>
  <p><strong>Position:</strong> {{ worker.position }}</p>

{#  <div class="ml-3">#}
{#    <h4>Assigned Tasks</h4>#}
{##}
{#    {% for car in worker.cars.all %}#}
{#        <hr>#}
{#        <p><strong>Model:</strong> {{ car.model }}</p>#}
{#        <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }}</p>#}
{#        <p class="text-muted"><strong>Id:</strong> {{car.id}}</p>#}
{##}
{#    {% empty %}#}
{#      <p>No cars!</p>#}
{#    {% endfor %}#}
{#  </div>#}
{% endblock %}
