{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <h1 class="text-center">
      Team Members
      <a href="{% url 'tasks:worker-create' %}" class="btn btn-success link-to-page">
        Add Team Member
      </a>
    </h1>

  <form action="" method="get" class="form-inline">
    {{search_form|crispy}}
    <input type="submit" value="Find" class="btn btn-secondary">

  </form>

    {% if worker_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
      </tr>
    {% for worker in worker_list %}
      <tr>
        <td>{{ worker.id }}</td>
        <td><a href="{{ worker.get_absolute_url }}">{{ worker.username }} {% if user == worker %} (Me){% endif %}</a></td>
        <td>{{ worker.first_name }}</td>
        <td>{{ worker.last_name }}</td>
        <td>{{ worker.position }}</td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no workers.</p>
    {% endif %}
{% endblock %}
